body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	background: #fcfae9;
	margin: 0 50px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url("../img/starry-night.gif");
	width: auto;
	height: auto;
	background-size: cover;
}
div#playerdiv {
	opacity: 0.7;
	cursor: move;
	margin: 50px 90px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 11px;
	position: relative;
	z-index: 10;
	text-align: center;
}
div.player {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(66, 66, 66, 1)),
		to(rgba(22, 22, 22, 1))
	);
	background-image: -webkit-linear-gradient(
		top,
		rgba(66, 66, 66, 1) 0%,
		rgba(22, 22, 22, 1) 100%
	);
	background-image: -moz-linear-gradient(
		top,
		rgba(66, 66, 66, 1) 0%,
		rgba(22, 22, 22, 1) 100%
	);
	background-image: -ms-gradient(
		top,
		rgba(66, 66, 66, 1) 0%,
		rgba(22, 22, 22, 1) 100%
	);
	background-image: -o-gradient(
		top,
		rgba(66, 66, 66, 1) 0%,
		rgba(22, 22, 22, 1) 100%
	);
	background-image: linear-gradient(
		top,
		rgba(66, 66, 66, 1) 0%,
		rgba(22, 22, 22, 1) 100%
	);
	padding: 15px 20px;
	border: 1px solid #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #ffffff;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 1px 1px 2px #000;
	-moz-text-shadow: 1px 1px 2px #000;
	min-height: 33px;
	margin: 0 auto;
	float: right;
}

h1 {
	line-height: 1.2;
}

div.player button {
	background-color: whitesmoke;
	height: 23px;
	width: 23px;
	border-radius: 11px;
	flex: 0 0 auto;
}

#colors div {
	-webkit-transition-property: background, color;
	-webkit-transition-duration: 0.25s;
	font-family: arial;
	font-size: 0;
	/* line-height: 9px; */
	color: #aaa;
	width: 8.2vw;
	height: 14.3vh;
	/* background: #000; */
	/* background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(66,66,66,0.75)),to(rgba(0,0,0,1))); */
	/* border-bottom: 1px solid rgba(5,5,5,0.7); */
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	line-height: 14.3vh;
	opacity: 0.75;
}
[draggable="true"] {
	cursor: move;
}
#titler {
	display: none;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
	color: white;
}
